<div>
  <div class="registration-container p-4 bg-sky-400 text-white rounded-lg">
    <h2 class="p-4">Register</h2>
    <form (ngSubmit)="register()" class="ml-4">
      <div class="form-group ">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="rounded-lg border-blue-500 block  p-2.5 "[(ngModel)]="user.username" placeholder="Enter your name"  required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="text-sm rounded-lg block  border-blue-500 p-2.5 "[(ngModel)]="user.email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="text-sm rounded-lg  border-blue-500 block  p-2.5 " [(ngModel)]="user.password" placeholder="Set your Password"  required>
      </div>
      <button type="submit" class="mt-4 text-white bg-blue-400  border-blue-500 rounded-lg w-24 h-10">Register</button>
    </form>
    <p>Already have an account? <span (click)="navigateToLogin()" >Login</span></p>


  </div>
</div>


