<div class="home-container w-full ml-6">
  <nav class="px-5 py-3 border border-g rounded-lg bg-blue-200">
    <ol class="inline-flex space-x-1 md:space-x-3">
      <a routerLink="login">SignIn</a>
      <a routerLink="register">SignUp</a>
      <a routerLink="quotes">Create quotes</a>
    </ol>
  </nav>

  <div class="cards-container mt-4 flex gap-4">
    <div
      class="max-w-sm p-6 bg-white border border-blue-200 rounded-lg shadow dark:bg-blue-200 dark:border-blue-700"
    >
      <a href="#"> </a>
      <p class="mb-3 font-bold text-blue-900 dark:text-blue-950">
        God, grant me the serenity to accept the things I cannot change, the
        courage to change the things I can, and the wisdom to know the
        difference.
      </p>
      <h5 class="mt-2 text-sm tracking-tight text-blue-700">
        Reinhold Niebuhr
      </h5>
      <a
        href="#"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        create quote
      </a>
    </div>
    <div
      class="max-w-sm p-6 bg-white border border-blue-200 rounded-lg shadow dark:bg-blue-200 dark:border-blue-700"
    >
      <a href="#"> </a>
      <p class="mb-3 font-bold text-blue-900 dark:text-blue-950">
        God, grant me the serenity to accept the things I cannot change, the
        courage to change the things I can, and the wisdom to know the
        difference.
      </p>
      <h5 class="mt-2 text-sm tracking-tight text-blue-700">
        Reinhold Niebuhr
      </h5>
      <a routerLink="quote"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        create quote
      </a>
    </div>
  </div>
</div>
