<div>
  <div class="login-container p-4 bg-sky-400 text-white rounded-lg">
    <div class="login-container border-2 border-lime-400 rounded m-10">
      <h2>Login</h2>
        <form (ngSubmit)="login()">
        <div class="mb-6">
          <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Name</label>
          <input type="username" id="username" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 "[(ngModel)]="user.username" placeholder="Enter your name" required>
        </div>
        <div class="mb-6">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
          <input type="password" id="password" class=" text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 "[(ngModel)]="user.password " placeholder="Enter your password" required>
        </div>
        <div class="flex items-start mb-6">
          <div class="flex items-center h-5">
            <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
          </div>
          <label for="remember" class="ml-2 text-sm font-medium dark:text-gray-300">Remember me</label>
        </div>
        <button type="submit" class="text-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm  sm:w-auto px-5 py-2.5 text-center   dark:focus:ring-blue-800">Submit</button>
      </form>
      
    </div>
    
</div>

</div>
