<div>
  <div class="login-container p-4 bg-sky-400 text-white rounded-lg w-2/5 m-auto">
    <div class="login-container border-2 border-lime-400 rounded m-10">
      <h2>Login</h2>
      <form (ngSubmit)="login()" class="ml-4">
        <div class="form-group ">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="rounded-lg border-blue-500 block  p-2.5 "[(ngModel)]="user.username" placeholder="Enter your name"  required>
        </div>      
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="text-sm rounded-lg  border-blue-500 block  p-2.5 " [(ngModel)]="user.password" placeholder="Set your Password"  required>
        </div>
        <button type="submit" class="mt-4 text-white bg-blue-400  border-blue-500 rounded-lg w-24 h-10">Register</button>
      </form>
      <p>Don't have an account? <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></p>

    </div>
    
</div>

</div>
